body {
  font-size: 16px;
  color: #fff;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #000000;
  /** Borda deixa de ser arredondada **/
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ffffff;
}


* {
  box-sizing:border-box;
}
.box {
  background-color: gray;
  position: relative;
  border: 1px solid black;
  margin: 0 0 15px;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
  font-size:1.75em;
  color: black;
}
h2 {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  color: black;
  margin: auto;
  padding: 0;
  right: 0;
  font-size:1.25em;
}

p {
  font-family: "Times New Roman", Times, serif;
  color: black;
  margin:0;
}

#nav-list a {/* texto menu*/
  color:#ffffff;
    border-bottom: 1px solid white;
}

.navbar-nav {
    margin: 0 -15px;
}

